<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>

		<!-- BINDINGS -->
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ISecurityService">
					<security mode="Message">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<!-- BEHAVIORS -->
		<behaviors>
			<endpointBehaviors>
				<behavior name="SecurityClientBehavior">
					<clientCredentials>
						<serviceCertificate>
							<!-- Доверяем сертификатам из TrustedPeople -->
							<authentication
								certificateValidationMode="PeerTrust"
								revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<!-- CLIENT ENDPOINT -->
		<client>
			<endpoint
				address="http://localhost:8740/SecurityService/"
				binding="wsHttpBinding"
				bindingConfiguration="WSHttpBinding_ISecurityService"
				contract="SecurityRef.ISecurityService"
				name="WSHttpBinding_ISecurityService"
				behaviorConfiguration="SecurityClientBehavior" />
		</client>

	</system.serviceModel>
</configuration>
