<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="WcfServiceLibrary.Service1">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/KT1/Service1/" />
					</baseAddresses>
				</host>

				<!-- Основной endpoint сервиса -->
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="WcfServiceLibrary.IService1" />

				<!-- Endpoint для метаданных (mex), чтобы клиент мог создать прокси -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
